<footer class="bg-dark text-white mt-5" style="margin-top:auto; clear:both">
        <div class="container py-4">
            <div class="row">
                <!-- Контактная информация -->
                <div class="col-md-4">
                    <h5>Контакты</h5>
                    <ul class="list-unstyled">
                        <li>ООО "Бест Флауэрс Шоп"</li>
                        <li>Телефон: +1 (123) 456-7890</li>
                        <li>Email: flowers@best.ru</li>
                    </ul>
                </div>
                <!-- Социальные сети -->
                <div class="col-md-4">
                    <h5>Мы в соцсетях</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Facebook</a></li>
                        <li><a href="#" class="text-white">Instagram</a></li>
                        <li><a href="#" class="text-white">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-3">
                <p>&copy; 2024 Все права защищены</p>
            </div>
        </div>
    </footer>