{% extends 'catalog/layout.html' %}

{% load static %}
 {% load my_filters %}
{% block content%}

<div class="container" style="margin-top:50px">
  <div class="row">
   {% for flower in flowers %}
    {% if flower.quantity > 0 %}
    <div class="card" style="width: 22rem; text-align: center; display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 10px;margin-bottom: 50px; margin-left: 20px">
        <img src="{{flower.picture.url|slice_from_eighth}}" class="card-img-top" alt="{{flower.picture.url}}">
        <div class="card-body" style="flex-grow: 1;">
            <h5 class="card-title">{{flower.name}}</h5>
            <p class="card-text">{{flower.description}}</p>
        </div>
        <div style="margin-top: auto;">
            <h5 class="card-title">{{flower.price}} руб.</h5>
                {% if request.user.is_authenticated %}
                    <button class="add-to-cart btn btn-primary order-button" data-product-id="{{ flower.id }}">В корзину</button>
                {% else %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">В корзину</button>
                {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-body">
         <h4><a href="/login">Войдите</a> в аккаунт для заказа</h4>
  </div>
</div>

<!-- Модальное окно Войдите в аккаунт-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5><a href="/login">Войдите</a> или <a href="/register">создайте</a> аккаунт для заказа</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно -->
<div id="modal-message" class="modalcart hidden">
    <div class="content">
        <p id="modal-text"></p>
        <p><a href="{% url 'cart_detail' %}">Перейти в корзину</a></p>
    </div>
</div>
<style>
    .modalcart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    width: 400px;
    height: 120px;
    overflow: hidden;
    }

.hidden {
    display: none;
}

.content {
    text-align: center;
    font-size: 20px;
}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.add-to-cart').click(function() {
            var button = $(this);
            var productId = button.data('product-id');
            var quantity = 1; // или возьмите значение из поля ввода, если оно у вас есть

            $.ajax({
                url: '{% url "add_to_cart" %}',
                method: 'POST',
                data: {
                    product_id: productId,
                    quantity: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    showModal(response.message);
                    // Обновите интерфейс корзины или количество
                },
                error: function(response) {
                    showModal('Произошла ошибка: ' + response.responseJSON.error);
                }
            });
        });

        function showModal(message) {
            var modal = $('#modal-message');
            $('#modal-text').text(message);
            modal.removeClass('hidden');
            modal.fadeIn();

            setTimeout(function() {
                modal.fadeOut(function() {
                    modal.addClass('hidden');
                });
            }, 2000);
        }
    });
</script>


{% endblock %}